.home {
  display: flex;
  position: relative;

  .buttons {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    z-index: 2;
  }

  &__welcome {
    background: radial-gradient(circle, #f8e0d8 30%, #f5c5b5);
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  &__detail {
    width: 100%;
  }
  &__end {
    width: 100vw;
    height: 100vh;
  }
}
