@import './variables';
@import './menubar';
@import './extends/display';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @extend %flex-center;
  background-color: #020202;
  text-align: center;
  color: #2c3e50;
}